.contact {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;
}

.contact-img {
    border-radius: 4px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.contact-img img {
    display: block;
    width: 100%;
    height: auto;
}

.contact-text {
    padding: 5px 10px;
}

.contact-text span {
    display: block;
    margin-bottom: 5px;
}

.contact-name {
    font-size: 18px;
    font-weight: bolder;
    text-transform: capitalize;
}
